# Ignore all .vscode settings
Immersive Analytics Unity/.vscode/

# Ignore all .idea settings
Immersive Analytics Unity/.idea/

# Ignore all log files in Unity
Immersive Analytics Unity/Logs/

# Ignore all generated stock dataset
Immersive Analytics Unity/Assets/IATK/Datasets/[A-Z][A-Z][A-Z][A-Z]*.csv